.name {
    font-weight: bold;
    font-size: 25px;
    margin:15px;
}


.descroptionBlock {
    margin:15px;
    font-size: 15px;
    margin:15px;
}
.bioAboutMe {
    font-weight: bold;
}
.avatar {
    width: 250px;
}

.contact {

    margin:15px;

}
.contact ul li{
    list-style-type: none;
}



.work {
    margin: 15px;
}
img.lookingForAJob {
    width: 200px;
}